body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #dadae3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: #000;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  background-color: #d2d2d2;
}

.toggle__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.toggle__menu label {
  color: #000;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #fff;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.list__wrap {
  margin-top: 60px;
}

.appnav__list-show,
.adminnav__list-show,
.adminnav__list {
  padding: 0;
  list-style-type: none;
}

.appnav__list-show,
.adminnav__list-show {
  display: grid;
}

.appnav__list-hide,
.adminnav__list-hide {
  display: none;
}

.appnav__list-item,
.adminnav__list-item {
  padding: 20px 20px 20px 40px;
  color: #000;
}

.appnav__list-item a,
.adminnav__list-item a{
  text-decoration: none;
  padding: 20px 94px 20px 37px;
}

.appnav__list-item a:hover,
.adminnav__list-item a:hover {
  background-color: rgba(63, 63, 63, 0.144);
  cursor: pointer;
}

.appnav__list-item a:focus,
.adminnav__list-item a:focus{
  background-color: rgba(63, 63, 63, 0.363) !important ;
}

.main {
  grid-area: main;
  background-color: #4a4a4a;
}

.overview {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.overview h1 {
  font-size: 40px;
}

.main__bg {
  background-color: gray;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .sidenav {
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}
